@import 'mixins';

body {
  font-family: 'Exo 2';
  //font-family: 'Cinzel', serif;
}

:root {
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

.fluid-container {
  width: 100%;
}

.fixed-container {
  max-width: 1218px;
  width: 100%;
  margin: 0 auto;
}

.second-heading {
  color: #1f4b98;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
}

.basic-button {
  border-radius: 5px;
  background: #1f4b98;
  max-width: 377px;
  padding: 38px 38px;
  box-sizing: border-box;
  color: #fcf5e8;
  text-align: center;
  font-family: 'Exo 2';
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  text-decoration: none;
  display: block;
}

.small-bage {
  color: #0033a1;
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
  border-radius: 100px;
  border: 1px solid #e4d9c6;
  padding: 7px 15px;
  max-width: fit-content;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
  max-height: 35px;

  & img {
    margin-right: 5px;
  }
}

.mobile-show,
.tablet-show {
  display: none;
}

@include mobile {
  .fixed-container {
    padding: 0 24px;
    max-width: 767px;
    box-sizing: border-box;
  }

  .small-bage {
    font-size: 14px;
    padding: 5px 15px;
    max-height: 27px;

    & img {
      width: 17px;
    }
  }

  .second-heading {
    font-size: 20px;
  }

  .mobile-hide {
    display: none;
  }

  .mobile-show {
    display: block;
  }

  .basic-button {
    max-width: 272px;
    padding: 25px 16px;
    font-size: 16px;
  }
}

@include tablet {
  .fixed-container {
    // padding: 0 24px;
    padding: 0;
    max-width: 710px;
    box-sizing: border-box;
  }

  .small-bage {
    font-size: 18px;
    padding: 5px 15px;
    max-height: 32px;

    & img {
      width: 17px;
    }
  }

  .second-heading {
    font-size: 30px;
    letter-spacing: 1.5px;
  }

  .tablet-hide {
    display: none;
  }

  .tablet-show {
    display: block;
  }
}
