@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 300;
  src: local('Exo 2'), url('/fonts/Exo2-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: local('Exo 2'), url('/fonts/Exo2-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 500;
  src: local('Exo 2'), url('/fonts/Exo2-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 700;
  src: local('Exo 2'), url('/fonts/Exo2-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 400;
  src: local('Exo 2'), url('/fonts/Cinzel-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 500;
  src: local('Exo 2'), url('/fonts/Cinzel-Medium.ttf') format('truetype');
}
