body {
  font-family: "Exo 2";
}

:root {
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

.fluid-container {
  width: 100%;
}

.fixed-container {
  max-width: 1218px;
  width: 100%;
  margin: 0 auto;
}

.second-heading {
  color: #1f4b98;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
}

.basic-button {
  border-radius: 5px;
  background: #1f4b98;
  max-width: 377px;
  padding: 38px 38px;
  box-sizing: border-box;
  color: #fcf5e8;
  text-align: center;
  font-family: "Exo 2";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  text-decoration: none;
  display: block;
}

.small-bage {
  color: #0033a1;
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
  border-radius: 100px;
  border: 1px solid #e4d9c6;
  padding: 7px 15px;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
  max-height: 35px;
}
.small-bage img {
  margin-right: 5px;
}

.alert-contact {
  background: #1f4b98;
  padding: 5px 0 5px 0;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.alert-contact__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.alert-contact__title svg, .alert-contact__contacts p {
  margin: 0 15px 0 0;
}
.alert-contact__contacts a {
  padding: 0;
  max-height: 20px;
}
.alert-contact__title p {
  margin: 0;
}
.alert-contact__title, .alert-contact__contacts {
  display: flex;
  align-items: center;
}

.navigation {
  padding: 13px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation__wrapper {
  display: flex;
  align-items: center;
  list-style: none;
}
.navigation__item {
  margin-left: 53px;
}
.navigation__item a {
  color: #1f4b98;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.navigation__language-changer {
  margin-left: 53px;
  display: flex;
}
.navigation__language-changer_ua, .navigation__language-changer_eng {
  display: inline-block;
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  padding: 6px;
  border-radius: 170px;
  border: 1px solid #1f4b98;
  color: #1f4b98;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  -webkit-border-radius: 170px;
  -moz-border-radius: 170px;
  -ms-border-radius: 170px;
  -o-border-radius: 170px;
}

.welcome-screen {
  max-height: 642px;
  overflow: hidden;
  position: relative;
  padding: 12px 0 2px 0;
}
.welcome-screen__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  position: relative;
}
.welcome-screen__video-bg video {
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  max-height: 642px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.welcome-screen__trade-mark {
  max-width: 370px;
  height: 630px;
  width: 100%;
  background-image: url("/images/trade-mark.svg");
}
.welcome-screen__heading {
  color: #1f4b98;
  width: 100%;
  margin-left: 26.5%;
}
.welcome-screen__big-text {
  display: flex;
  align-items: baseline;
  font-family: "Cinzel";
  font-size: 100px;
  font-style: normal;
  font-weight: 500;
  line-height: 76px;
}
.welcome-screen__big-text span {
  font-family: "Exo 2";
  font-size: 39px;
  font-style: normal;
  font-weight: 500;
}
.welcome-screen__big-text:nth-child(2n) {
  margin-left: 66px;
}
.welcome-screen__small-text {
  font-size: 19px;
  font-style: normal;
  font-weight: 300;
  margin-left: 66px;
  max-width: 329px;
}
.welcome-screen__subtext {
  color: #1f4b98;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  position: absolute;
  bottom: 22px;
  right: 0;
  display: flex;
  align-items: center;
}
.welcome-screen__subtext img {
  margin-right: 10px;
}

.peelings-features {
  padding: 65px 0;
}
.peelings-features__subtext {
  margin-bottom: 17px;
  margin-left: auto;
  margin-right: auto;
}
.peelings-features__second-heading {
  margin-bottom: 63px;
  text-align: center;
  width: 100%;
}
.peelings-features__feature-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 17px;
}
.peelings-features__feature {
  max-width: 394px;
  height: 410px;
  width: 100%;
  box-sizing: border-box;
  display: block;
  border-radius: 10px;
  padding: 0 43px 39px 32px;
  display: flex;
  flex-wrap: wrap;
  align-content: end;
  position: relative;
}
.peelings-features__feature .peelings-features__feature-title, .peelings-features__feature .peelings-features__feature-subtitle {
  transform: translateY(1px);
  -webkit-transform: translateY(1px);
  -moz-transform: translateY(1px);
  -ms-transform: translateY(1px);
  -o-transform: translateY(1px);
  transition: transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
}
.peelings-features__feature::after {
  opacity: 1;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.peelings-features__feature:hover .peelings-features__feature-subtitle {
  animation: 0.4s ease-in 1 apearing;
  -webkit-animation: 0.4s ease-in 1 apearing;
  display: block;
  opacity: 1;
  height: 100%;
}
.peelings-features__feature:hover .peelings-features__feature-title {
  color: #1f4b98;
}
.peelings-features__feature:hover .peelings-features__feature-title::after {
  content: " ";
}
.peelings-features__feature:hover::after {
  opacity: 0.15;
}
.peelings-features__feature-1::after, .peelings-features__feature-2::after, .peelings-features__feature-3::after {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -2;
}
.peelings-features__feature-1::after {
  content: url("/images/feature_1.png");
}
.peelings-features__feature-2::after {
  content: url("/images/feature_2.png");
}
.peelings-features__feature-3::after {
  content: url("/images/feature_3.png");
}
.peelings-features__feature-title {
  color: #fff;
  font-family: "Cinzel";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  max-width: 274px;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.peelings-features__feature-title::after {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="19" viewBox="0 0 12 19" fill="none"><path d="M1.44336 17.887L9.88689 9.44344L1.44336 0.99991" stroke="%23FCF5E8" stroke-width="2"/></svg>');
}
.peelings-features__feature-subtitle {
  color: #1f4b98;
  font-size: 19px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0;
  max-width: 295px;
  max-height: 92px;
  height: 0%;
  display: none;
  opacity: 0;
}
@keyframes apearing {
  from {
    display: none;
    opacity: 0;
    height: 0%;
  }
  to {
    display: block;
    opacity: 1;
    height: 100%;
  }
}

.top-products {
  padding-bottom: 88px;
  background-color: rgba(218, 231, 255, 0.29);
}
.top-products__second-heading {
  width: 100%;
  padding-bottom: 71px;
  background-color: #fff;
}
.top-products__product {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}
.top-products__product:first-child {
  padding-top: 94px;
}
.top-products__product:last-child {
  padding-top: 71px;
}
.top-products__product-gallery {
  max-width: 646px;
  display: flex;
}
.top-products__product-gallery_preview-wrapper {
  max-height: 437.3px;
  overflow: hidden;
}
.top-products__product-gallery_preview {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.top-products__product-gallery_preview-scroll-up {
  transform: translateY(-144px);
  -webkit-transform: translateY(-144px);
  -moz-transform: translateY(-144px);
  -ms-transform: translateY(-144px);
  -o-transform: translateY(-144px);
  transition: all 0.7s ease-in;
  -webkit-transition: all 0.7s ease-in;
  -moz-transition: all 0.7s ease-in;
  -ms-transition: all 0.7s ease-in;
  -o-transition: all 0.7s ease-in;
}
.top-products__product-gallery_preview-scroll-down {
  transform: translateY(144px);
  -webkit-transform: translateY(144px);
  -moz-transform: translateY(144px);
  -ms-transform: translateY(144px);
  -o-transform: translateY(144px);
  transition: all 0.7s ease-in;
  -webkit-transition: all 0.7s ease-in;
  -moz-transition: all 0.7s ease-in;
  -ms-transition: all 0.7s ease-in;
  -o-transition: all 0.7s ease-in;
}
.top-products__product-gallery_item {
  width: 136.8px;
  height: 136.8px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
  z-index: 10;
  border: 1px solid transparent;
}
.top-products__product-gallery_item:focus {
  border: 1px solid #2059b9;
}
.top-products__product-gallery_item figure {
  margin: 0;
}
.top-products__product-gallery_item img {
  max-width: 136.8px;
  max-height: 136.8px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -10;
}
.top-products__product-gallery_navigation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: 10px;
}
.top-products__product-gallery_arrows-wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 56px;
}
.top-products__product-gallery_arrow-right, .top-products__product-gallery_arrow-left {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
.top-products__product-gallery_arrow-right:hover svg, .top-products__product-gallery_arrow-left:hover svg {
  fill: #1f4b98;
}
.top-products__product-gallery_arrow-right:hover svg path, .top-products__product-gallery_arrow-right:hover svg circle, .top-products__product-gallery_arrow-left:hover svg path, .top-products__product-gallery_arrow-left:hover svg circle {
  stroke: #fff;
}
.top-products__product-gallery_view {
  min-width: 499px;
  height: 538px;
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.top-products__product-gallery_view img {
  max-width: 499px;
  max-height: 538px;
  min-height: 538px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.top-products__product-gallery_lense {
  position: absolute;
  width: 150px;
  height: 150px;
  border: 1px solid #333;
}
.top-products__product-description-wrapper {
  padding-left: 24px;
}
.top-products__product-description_title {
  color: #1f4b98;
  font-family: "Cinzel";
  font-size: 30px;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}
.top-products__product-description_subtitle {
  color: #aaa;
  font-family: "Exo 2";
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 31px;
  display: block;
}
.top-products__product-description_substances-list {
  list-style: none;
  margin-bottom: 12px;
  padding: 0;
  margin-top: 0;
}
.top-products__product-description_substances-list li {
  color: #0033a1;
  font-family: "Exo 2";
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 23px;
}
.top-products__product-description_volume {
  color: #0033a1;
  font-family: "Exo 2";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 41px;
  display: block;
}
.top-products__product-description_description-wrapper {
  color: #1f4b98;
  font-family: "Exo 2";
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 19px;
  margin-bottom: 45px;
}
.top-products__product-description_description-wrapper p {
  margin: 0;
}
.top-products__product-description_description-wrapper p:first-child {
  margin-bottom: 20px;
}
.top-products__product-description_problems-solving {
  border-radius: 5px;
  border: 1px solid #d7e5ff;
  padding: 15px 0 18px 24px;
  display: flex;
  flex-wrap: wrap;
}
.top-products__product-description_problems-solving--add-padding {
  padding: 32px 0 32px 24px;
}
.top-products__product-description_problems-solving-title {
  color: #0033a1;
  font-family: "Exo 2";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  width: 100%;
  margin-top: 0;
  margin-bottom: 7px;
}
.top-products__product-description_problems-solving-item {
  color: #1f4b98;
  font-family: "Exo 2";
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  display: flex;
  align-items: center;
  margin-right: 6px;
  margin-bottom: 5px;
}
.top-products__product-description_problems-solving-item svg {
  margin-right: 6px;
}

.three-steps {
  padding-top: 84px;
  padding-bottom: 168px;
}
.three-steps__cta-button {
  margin-bottom: 84px;
  margin-right: auto;
  margin-left: auto;
}
.three-steps__second-heading {
  padding-bottom: 96px;
}
.three-steps__steps-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.three-steps__step-item {
  max-width: 400px;
  width: 100%;
  height: 350px;
  box-sizing: border-box;
  padding-left: 72px;
  overflow: hidden;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 145px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
.three-steps__step-item::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  background: linear-gradient(0deg, rgba(31, 75, 152, 0.9) 0%, rgba(31, 75, 152, 0.9) 100%);
  opacity: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.three-steps__step-item:hover {
  transform: translateY(52px);
  -webkit-transform: translateY(52px);
  -moz-transform: translateY(52px);
  -ms-transform: translateY(52px);
  -o-transform: translateY(52px);
  padding-top: 120px;
}
.three-steps__step-item:hover::before {
  opacity: 1;
}
.three-steps__step-item:hover .three-steps__step-item-title {
  color: #e4d9c6;
  transform: translateY(-30px);
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
}
.three-steps__step-item:hover .three-steps__step-item-subtitle {
  opacity: 1;
  color: #fff;
  transform: translateY(-30px);
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
}
.three-steps__step-item_3:hover .three-steps__step-item-title {
  transform: translateY(-70px) !important;
  -webkit-transform: translateY(-70px) !important;
  -moz-transform: translateY(-70px) !important;
  -ms-transform: translateY(-70px) !important;
  -o-transform: translateY(-70px) !important;
}
.three-steps__step-item_3:hover .three-steps__step-item-subtitle {
  transform: translateY(-60px) !important;
  -webkit-transform: translateY(-60px) !important;
  -moz-transform: translateY(-60px) !important;
  -ms-transform: translateY(-60px) !important;
  -o-transform: translateY(-60px) !important;
}
.three-steps__step-item_1 {
  background-image: url("/images/three_steps_img_1.jpg");
  background-position: -10%;
}
.three-steps__step-item_2 {
  background-image: url("/images/three_steps_img_2.jpg");
  background-position: -185px -194px;
  background-size: 209%;
}
.three-steps__step-item_3 {
  background-image: url("/images/three_steps_img_3.jpg");
  padding-left: 45px;
}
.three-steps__step-item-step {
  color: #fff;
  text-align: right;
  font-family: "Cinzel";
  font-size: 350px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.2;
  position: absolute;
  left: -9px;
  top: -43px;
}
.three-steps__step-item-step--add-position {
  left: 17px;
  top: -43px;
}
.three-steps__step-item-title {
  color: #1f4b98;
  font-family: "Exo 2";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-bottom: 19px;
  margin-top: 0;
  margin-bottom: 19px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
.three-steps__step-item-subtitle {
  color: #1f4b98;
  font-family: Exo 2;
  font-size: 19px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  opacity: 0;
  margin: 0;
  max-width: 307px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.about {
  padding-bottom: 118px;
}
.about__second-heading_wrapper {
  display: flex;
  justify-content: left;
  margin-bottom: 79px;
  text-align: left;
  align-items: center;
}
.about__second-heading {
  margin-right: 42px;
  text-align: left;
}
.about__info-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 46px;
}
.about__photo {
  border-radius: 10px;
  max-height: 741px;
  width: 597px;
}
.about__info-heading {
  display: flex;
  margin-bottom: 12px;
  margin-top: 0;
}
.about__info-heading h3 {
  margin: 0;
  color: #1f4b98;
  font-family: "Exo 2";
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.about__info-heading svg {
  margin-right: 22px;
}
.about__info-paragraph, .about__info-list li {
  color: #1f4b98;
  font-family: "Exo 2";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
}
.about__info-paragraph {
  margin-top: 0;
  margin-bottom: 54px;
}
.about__info-list {
  margin-bottom: 49px;
  margin-top: 0;
  padding-inline-start: 20px;
  list-style-type: none;
  max-width: 539px;
  list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="9" viewBox="0 0 10 9" fill="none"><path d="M3.64035 2.36138C3.6375 2.30434 3.63179 2.25016 3.63179 2.19312C3.63465 1.64559 3.66601 1.10375 3.8799 0.587587C3.95119 0.416481 4.04245 0.259635 4.18218 0.13701C4.40177 -0.0512057 4.64702 -0.0455022 4.85805 0.15412C5.00919 0.296708 5.10045 0.473516 5.17459 0.664584C5.29722 0.986832 5.3571 1.32334 5.37136 1.66555C5.38277 1.89654 5.37421 2.13038 5.37421 2.36138C5.38277 2.36423 5.39132 2.36708 5.39988 2.36993C5.41984 2.34997 5.44266 2.33001 5.46262 2.31004C5.80483 1.95358 6.16985 1.62562 6.60902 1.39178C6.83146 1.27201 7.0653 1.18075 7.32481 1.18075C7.62995 1.18075 7.81816 1.36611 7.82957 1.6684C7.83813 1.87658 7.77824 2.0705 7.69269 2.25871C7.51017 2.65796 7.23926 2.99732 6.93982 3.31386C6.84286 3.41367 6.74591 3.51348 6.64039 3.62185C6.66891 3.6247 6.69172 3.6247 6.71454 3.6247C6.90275 3.6247 7.09097 3.619 7.27633 3.6304C7.62424 3.64752 7.96645 3.69885 8.29441 3.81292C8.46551 3.8728 8.62806 3.9498 8.77065 4.06387C8.89612 4.16653 8.99879 4.28916 9.01305 4.46026C9.03016 4.64563 8.9389 4.78536 8.80772 4.89943C8.6024 5.08195 8.35144 5.17605 8.08908 5.2445C7.68698 5.35001 7.27633 5.37853 6.85998 5.37568C6.78868 5.37568 6.72024 5.37568 6.62613 5.37568C6.66606 5.41275 6.69172 5.43841 6.71739 5.46123C7.0653 5.79488 7.3847 6.15135 7.61569 6.57911C7.74972 6.82437 7.84953 7.08102 7.82957 7.3719C7.81246 7.62 7.64135 7.79681 7.39325 7.81392C7.09097 7.83674 6.82575 7.72837 6.5691 7.58578C6.14419 7.35194 5.78772 7.02969 5.45691 6.68178C5.4398 6.66467 5.42554 6.64756 5.39418 6.61619C5.39132 6.65326 5.39132 6.67607 5.38847 6.70174C5.37421 7.00973 5.37421 7.31772 5.34284 7.62571C5.30862 7.96507 5.22877 8.29872 5.04911 8.59816C4.98923 8.69797 4.91223 8.79493 4.82668 8.87192C4.6242 9.04873 4.38466 9.04018 4.18218 8.86052C4.02819 8.72363 3.93123 8.54682 3.85708 8.35576C3.74016 8.05632 3.67742 7.74263 3.65746 7.42038C3.6432 7.17798 3.6432 6.93273 3.6375 6.68748C3.6375 6.67037 3.63465 6.65041 3.63179 6.61619C3.60328 6.64471 3.58331 6.66467 3.56335 6.68178C3.24396 7.01543 2.90175 7.32342 2.49965 7.55727C2.26866 7.6913 2.02626 7.79966 1.75249 7.81392C1.6926 7.81678 1.62701 7.81678 1.56713 7.80252C1.33043 7.75404 1.1907 7.58008 1.18499 7.32913C1.17929 7.08673 1.25629 6.86714 1.3618 6.65611C1.53005 6.31961 1.75819 6.02588 2.012 5.75211C2.11181 5.64374 2.21733 5.54108 2.32284 5.43841C2.33995 5.4213 2.36276 5.4156 2.38273 5.40134C2.37702 5.39279 2.37132 5.38138 2.36562 5.37282C2.3314 5.37282 2.29717 5.37282 2.26295 5.37282C1.83519 5.38138 1.40743 5.36142 0.991072 5.25875C0.731563 5.19602 0.480609 5.10761 0.266728 4.94221C0.209693 4.89658 0.15551 4.84525 0.109881 4.78822C-0.0412613 4.59144 -0.0355578 4.38041 0.121289 4.18935C0.278135 3.99543 0.494868 3.89277 0.723008 3.81292C1.05381 3.69599 1.39887 3.64466 1.74964 3.62755C1.935 3.619 2.12037 3.6247 2.30573 3.62185C2.32569 3.62185 2.34565 3.619 2.38558 3.619C2.35706 3.59048 2.3428 3.57337 2.32569 3.55626C1.99204 3.23686 1.68405 2.89465 1.44735 2.49541C1.32188 2.27867 1.22206 2.05053 1.1907 1.79958C1.15647 1.51726 1.25343 1.25775 1.54716 1.20071C1.66123 1.1779 1.78386 1.18075 1.89793 1.20356C2.24014 1.2663 2.53102 1.44311 2.80764 1.64273C3.08141 1.83951 3.32666 2.06765 3.5548 2.31004C3.57476 2.33001 3.58902 2.35567 3.60328 2.37849C3.62039 2.37278 3.62894 2.36708 3.64035 2.36138Z" fill="%231F4B98"/></svg>');
}
.about__info-list:last-child {
  max-width: 555px;
}

.ecology {
  padding-bottom: 167px;
}
.ecology__bage {
  margin-bottom: 20px;
}
.ecology__second-heading {
  margin-bottom: 83px;
  text-align: left;
}
.ecology__card {
  display: flex;
  justify-content: space-between;
}
.ecology__text {
  padding-left: 56px;
  text-align: left;
  width: 100%;
}
.ecology__text_heading {
  color: #1f4b98;
  font-family: "Exo 2";
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-bottom: 17px;
  margin-top: 45px;
  display: flex;
}
.ecology__text_heading_flag {
  display: block;
  content: url("/images/eu_flag.jpg");
  margin: 0 7px;
}
.ecology__text_paragraph {
  color: #1f4b98;
  font-family: "Exo 2";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
  margin: 0;
  max-width: 470px;
  margin-bottom: 2px;
}

.partnership {
  padding: 79px 0 63px 0;
  background-color: #1f4b98;
}
.partnership__content-wrapper {
  display: flex;
  justify-content: space-between;
}
.partnership__values_heading {
  text-align: left;
}
.partnership__trademark {
  color: #fff;
  font-family: "Cinzel";
  font-size: 210px;
  font-style: normal;
  font-weight: 400;
  line-height: 166px; /* 79.048% */
  text-transform: uppercase;
  max-width: 429px;
  padding-left: 56px;
  position: relative;
}
.partnership__trademark::before {
  content: url("/images/partnership_pattern_img.png");
  position: absolute;
  left: -38%;
  top: -9%;
}
.partnership__values {
  padding-top: 23px;
  padding-left: 125px;
  padding-right: 60px;
}
.partnership__values_heading {
  color: #fff;
  margin-bottom: 15px;
}
.partnership__values_definition {
  color: #fff;
  font-family: "Exo 2";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 48px;
}
.partnership__values_list-item {
  display: flex;
  margin-bottom: 36px;
}
.partnership__values_list-item-digit {
  color: #fff;
  font-family: "Cinzel";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 30px;
}
.partnership__values_list-item-text {
  color: #fff;
  font-family: "Exo 2";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0;
  max-width: 381px;
}
.partnership__values_list-item-text b {
  font-weight: 700;
}
.partnership__values_list-item:first-child .partnership__values_list-item-text {
  max-width: 429px;
}
.partnership__values_list-item:last-child .partnership__values_list-item-text {
  max-width: 487px;
}

.cooperation {
  padding: 83px 0 125px 0;
}
.cooperation__cta-button {
  margin-bottom: 84px;
  margin-right: auto;
  margin-left: auto;
}
.cooperation__second-heading {
  margin-bottom: 16px;
  width: 100%;
}
.cooperation__subheading {
  color: #1f4b98;
  text-align: center;
  font-family: "Exo 2";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  padding-top: 0;
  padding-bottom: 125px;
}
.cooperation__content-wrapper {
  display: flex;
  justify-content: space-between;
}
.cooperation__content-img {
  max-width: 648px;
  width: 100%;
  height: 639px;
  border-radius: 10px;
  overflow: hidden;
}
.cooperation__content-img img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 648px;
  width: 100%;
  max-height: 639px;
}
.cooperation__content__list-title {
  color: #1f4b98;
  text-align: left;
  font-family: "Exo 2";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 36px;
  padding-left: 27px;
}
.cooperation__content__list-item {
  max-width: 428px;
  width: 100%;
  padding: 16px 27px;
  border-radius: 6px;
  border: 1px solid #fff;
  display: flex;
  margin-bottom: 10px;
  height: 103px;
  box-sizing: border-box;
  align-items: flex-start;
}
.cooperation__content__list-item:hover {
  border: 1px solid #1f4b98;
  cursor: pointer;
}
.cooperation__content__list-item:first-child {
  align-items: center;
}
.cooperation__content__list-item::before {
  margin-top: 8px;
  margin-right: 21px;
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 10 9" fill="none"><path d="M3.64035 2.36138C3.6375 2.30434 3.63179 2.25016 3.63179 2.19312C3.63465 1.64559 3.66601 1.10375 3.8799 0.587587C3.95119 0.416481 4.04245 0.259635 4.18218 0.13701C4.40177 -0.0512057 4.64702 -0.0455022 4.85805 0.15412C5.00919 0.296708 5.10045 0.473516 5.17459 0.664584C5.29722 0.986832 5.3571 1.32334 5.37136 1.66555C5.38277 1.89654 5.37421 2.13038 5.37421 2.36138C5.38277 2.36423 5.39132 2.36708 5.39988 2.36993C5.41984 2.34997 5.44266 2.33001 5.46262 2.31004C5.80483 1.95358 6.16985 1.62562 6.60902 1.39178C6.83146 1.27201 7.0653 1.18075 7.32481 1.18075C7.62995 1.18075 7.81816 1.36611 7.82957 1.6684C7.83813 1.87658 7.77824 2.0705 7.69269 2.25871C7.51017 2.65796 7.23926 2.99732 6.93982 3.31386C6.84286 3.41367 6.74591 3.51348 6.64039 3.62185C6.66891 3.6247 6.69172 3.6247 6.71454 3.6247C6.90275 3.6247 7.09097 3.619 7.27633 3.6304C7.62424 3.64752 7.96645 3.69885 8.29441 3.81292C8.46551 3.8728 8.62806 3.9498 8.77065 4.06387C8.89612 4.16653 8.99879 4.28916 9.01305 4.46026C9.03016 4.64563 8.9389 4.78536 8.80772 4.89943C8.6024 5.08195 8.35144 5.17605 8.08908 5.2445C7.68698 5.35001 7.27633 5.37853 6.85998 5.37568C6.78868 5.37568 6.72024 5.37568 6.62613 5.37568C6.66606 5.41275 6.69172 5.43841 6.71739 5.46123C7.0653 5.79488 7.3847 6.15135 7.61569 6.57911C7.74972 6.82437 7.84953 7.08102 7.82957 7.3719C7.81246 7.62 7.64135 7.79681 7.39325 7.81392C7.09097 7.83674 6.82575 7.72837 6.5691 7.58578C6.14419 7.35194 5.78772 7.02969 5.45691 6.68178C5.4398 6.66467 5.42554 6.64756 5.39418 6.61619C5.39132 6.65326 5.39132 6.67607 5.38847 6.70174C5.37421 7.00973 5.37421 7.31772 5.34284 7.62571C5.30862 7.96507 5.22877 8.29872 5.04911 8.59816C4.98923 8.69797 4.91223 8.79493 4.82668 8.87192C4.6242 9.04873 4.38466 9.04018 4.18218 8.86052C4.02819 8.72363 3.93123 8.54682 3.85708 8.35576C3.74016 8.05632 3.67742 7.74263 3.65746 7.42038C3.6432 7.17798 3.6432 6.93273 3.6375 6.68748C3.6375 6.67037 3.63465 6.65041 3.63179 6.61619C3.60328 6.64471 3.58331 6.66467 3.56335 6.68178C3.24396 7.01543 2.90175 7.32342 2.49965 7.55727C2.26866 7.6913 2.02626 7.79966 1.75249 7.81392C1.6926 7.81678 1.62701 7.81678 1.56713 7.80252C1.33043 7.75404 1.1907 7.58008 1.18499 7.32913C1.17929 7.08673 1.25629 6.86714 1.3618 6.65611C1.53005 6.31961 1.75819 6.02588 2.012 5.75211C2.11181 5.64374 2.21733 5.54108 2.32284 5.43841C2.33995 5.4213 2.36276 5.4156 2.38273 5.40134C2.37702 5.39279 2.37132 5.38138 2.36562 5.37282C2.3314 5.37282 2.29717 5.37282 2.26295 5.37282C1.83519 5.38138 1.40743 5.36142 0.991072 5.25875C0.731563 5.19602 0.480609 5.10761 0.266728 4.94221C0.209693 4.89658 0.15551 4.84525 0.109881 4.78822C-0.0412613 4.59144 -0.0355578 4.38041 0.121289 4.18935C0.278135 3.99543 0.494868 3.89277 0.723008 3.81292C1.05381 3.69599 1.39887 3.64466 1.74964 3.62755C1.935 3.619 2.12037 3.6247 2.30573 3.62185C2.32569 3.62185 2.34565 3.619 2.38558 3.619C2.35706 3.59048 2.3428 3.57337 2.32569 3.55626C1.99204 3.23686 1.68405 2.89465 1.44735 2.49541C1.32188 2.27867 1.22206 2.05053 1.1907 1.79958C1.15647 1.51726 1.25343 1.25775 1.54716 1.20071C1.66123 1.1779 1.78386 1.18075 1.89793 1.20356C2.24014 1.2663 2.53102 1.44311 2.80764 1.64273C3.08141 1.83951 3.32666 2.06765 3.5548 2.31004C3.57476 2.33001 3.58902 2.35567 3.60328 2.37849C3.62039 2.37278 3.62894 2.36708 3.64035 2.36138Z" fill="%231F4B98"/></svg>');
}
.cooperation__content__list-item button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  color: #1f4b98;
  font-family: "Exo 2";
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-align: left;
  cursor: pointer;
}
.cooperation__list-item-cta {
  margin-top: 35px;
  max-width: 428px;
  width: 100%;
}

.advantages {
  padding: 70px 0;
  background-color: #1f4b98;
}
.advantages__items-wrapper {
  display: flex;
  gap: 9px;
}
.advantages__item {
  padding: 40px 0 47px 30px;
  border-radius: 5px;
  border: 1.5px solid rgba(31, 75, 152, 0.11);
  background: #fff;
  max-width: 297px;
  width: 100%;
  box-sizing: border-box;
  max-width: 320px;
}
.advantages__item svg {
  margin-bottom: 15px;
}
.advantages__item:last-child {
  padding-right: 15px;
}
.advantages__item:last-child .advantages__item-heading {
  max-width: 255px;
}
.advantages__item-heading {
  color: #1f4b98;
  font-family: "Exo 2";
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  margin-bottom: 10px;
  max-width: 225px;
  margin-top: 0;
}
.advantages__item-text {
  color: #1f4b98;
  font-family: "Exo 2";
  font-size: 19px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  max-width: 236px;
  margin-top: 0;
}

.five-steps {
  padding: 121px 0 161px 0;
}
.five-steps__heading {
  margin-bottom: 89px;
}
.five-steps__steps-wrapper {
  display: flex;
  justify-content: space-between;
}
.five-steps__step {
  display: flex;
  align-items: center;
  opacity: 0;
}
.five-steps__step_digit {
  color: #e4d9c6;
  font-family: "Cinzel";
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-right: 5px;
}
.five-steps__step_text {
  color: #1f4b98;
  font-family: "Exo 2";
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 0;
  margin-top: -13px;
}
.five-steps__animated-line {
  margin-bottom: 30px;
  margin-left: 30px;
  max-width: 983px;
  width: 0;
  border-bottom: 1.5px solid #1f4b98;
  position: relative;
}
.five-steps__animated-line_dot {
  position: absolute;
  top: -8px;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #1f4b98;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  opacity: 0;
}
.five-steps.activate-animation .five-steps__animated-line {
  animation: 10s ease 0s animate-line;
  -webkit-animation: 10s ease 0s animate-line;
  animation-fill-mode: forwards;
}
.five-steps.activate-animation .five-steps__animated-line_dot-1 {
  left: 0;
  animation: 0.5s linear 0s show-dot;
  -webkit-animation: 0.5s linear 0.3s show-dot;
  animation-fill-mode: forwards;
}
.five-steps.activate-animation .five-steps__animated-line_dot-2 {
  left: 235px;
  animation: 0.5s linear 1.7s show-dot;
  -webkit-animation: 0.5s linear 1.7s show-dot;
  animation-fill-mode: forwards;
}
.five-steps.activate-animation .five-steps__animated-line_dot-3 {
  left: 515px;
  animation: 0.5s ease-in 2.6s show-dot;
  -webkit-animation: 0.5s ease-in 2.6s show-dot;
  animation-fill-mode: forwards;
}
.five-steps.activate-animation .five-steps__animated-line_dot-4 {
  left: 745px;
  animation: 0.5s ease-in 3.5s show-dot;
  -webkit-animation: 0.5s ease-in 3.5s show-dot;
  animation-fill-mode: forwards;
}
.five-steps.activate-animation .five-steps__animated-line_dot-5 {
  left: 983px;
  animation: 0.5s ease-in 5s show-dot;
  -webkit-animation: 0.5s ease-in 5s show-dot;
  animation-fill-mode: forwards;
}
.five-steps.activate-animation .five-steps__step_show-1 {
  animation: 0.5s linear 0s show-dot;
  -webkit-animation: 0.5s linear 0.3s show-dot;
  animation-fill-mode: forwards;
}
.five-steps.activate-animation .five-steps__step_show-2 {
  animation: 0.5s linear 1.7s show-dot;
  -webkit-animation: 0.5s linear 1.7s show-dot;
  animation-fill-mode: forwards;
}
.five-steps.activate-animation .five-steps__step_show-3 {
  animation: 0.5s ease-in 2.6s show-dot;
  -webkit-animation: 0.5s ease-in 2.6s show-dot;
  animation-fill-mode: forwards;
}
.five-steps.activate-animation .five-steps__step_show-4 {
  animation: 0.5s ease-in 3.5s show-dot;
  -webkit-animation: 0.5s ease-in 3.5s show-dot;
  animation-fill-mode: forwards;
}
.five-steps.activate-animation .five-steps__step_show-5 {
  animation: 0.5s ease-in 5s show-dot;
  -webkit-animation: 0.5s ease-in 5s show-dot;
  animation-fill-mode: forwards;
}
@keyframes animate-line {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes show-dot {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.footer__contacts-wrapper, .footer__copyright-wrapper {
  display: flex;
  justify-content: space-between;
}
.footer__contacts-logo {
  width: 48%;
}
.footer__contacts {
  padding: 58px 0 52px 0;
  background-color: #1f4b98;
}
.footer__copyright {
  padding: 26px 0 17px 0;
}
.footer__contacts_heading {
  color: #fff;
  font-family: "Exo 2";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 26px;
}
.footer__contacts_text {
  color: #fff;
  font-family: "Exo 2";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0;
}
.footer__contacts_item:last-child {
  align-self: self-end;
}
.footer__contacts_insta-link {
  display: block;
  max-height: 26px;
}
.footer__copyright-text, .footer__copyright-madeby {
  color: #aaa;
  font-family: "Exo 2";
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0;
}
.footer__copyright-links {
  color: #1f4b98;
  font-family: "Exo 2";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.footer__copyright-links a:first-child {
  margin-right: 67px;
}
.footer__copyright-madeby {
  text-align: right;
}
.footer__copyright-wrapper {
  margin-top: 15px;
}

.policy-offer {
  padding: 112px 0 146px 0;
  background-color: #ecf3ff;
  background-image: url("/images/flower_pattern_bg.svg");
  background-repeat: no-repeat;
  background-position: 85% 154px;
  background-attachment: fixed;
}
.policy-offer ul {
  list-style: lower-latin;
  padding-inline-start: 35px;
}
.policy-offer a {
  text-decoration: underline;
  color: #1f4b98;
}
.policy-offer__text-wrapper {
  max-width: 1007px;
}
.policy-offer__heading {
  color: #0033a1;
  font-family: "Exo 2";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 76.923% */
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 14px;
}
.policy-offer__subheading {
  color: #1f4b98;
  font-family: "Exo 2";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 50px;
}
.policy-offer__paragraph-heading {
  margin: 0;
  color: #1f4b98;
  font-family: "Exo 2";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}
.policy-offer__paragraph {
  margin: 0;
  color: #1f4b98;
  font-family: "Exo 2";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
}/*# sourceMappingURL=style.css.map */